// IMAGE SIZES //

$hero-lg: url("../images/hero-lg.jpg");
$hero-sm: url("../images/hero-sm.jpg");


// SHAPES & SIZING //


/* ========     WIDTHS   ==========*/
$full: 100%;
$half: 50%;
$quarter: 25%;

/* ========   MARGINS/PADDINGS   ==========*/

$standard: 10px;
$double: 20px;


/* ========     WIDTHS   ==========*/




@mixin border-radius($radius) {
  webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box; 
}

@mixin padding($padding) {
  -webkit-padding: $padding;
  padding: $padding;
}

@mixin margin($margin) {
  margin: $margin;
}
